@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="display-4">Ошибка подключения к базе данных!</h1>
    <p>Проверьте доступность базы данных и повторите попытку снова.</p>
</div>
