@model List<Message>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
        text-align: center;
    }
</style>
<table>
    <thead>
        <tr>
            <th>Номер записи</th>
            <th>Текст сообщения</th>
            <th>Имя пользователя</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            <tr>
                <td>@entity.Id</td>
                <td>@entity.Text</td>
                <td>@entity.UserName</td>
                <td>@entity.Date</td>
            </tr>
        }
    </tbody>
</table>
