@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Данный сайт позволяет вывести собщения из базы данных, которые собирает бот в вашем чате.</p>
</div>
